################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebDownload/obj/x86/Debug/WebDownload15.csproj.FileListAbsolute.txt
/WebDownload/obj/x86/Debug/WebDownload.pdb
/WebDownload/obj/x86/Debug/WebDownload.dll
/WebDownload/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebDownload/bin/x86/Debug/WebDownload.pdb
/WebDownload/bin/x86/Debug/WebDownload.dll
/UpdateCheck/obj/UpdateCheck.vbproj.FileListAbsolute.txt
/UpdateCheck/obj/UpdateCheck.vbproj.FileList.txt
/UpdateCheck/obj/Release/UpdateCheck.xml
/UpdateCheck/obj/Release/UpdateCheck.vbproj.GenerateResource.Cache
/UpdateCheck/obj/Release/UpdateCheck.Resources.resources
/UpdateCheck/obj/Release/UpdateCheck.pdb
/UpdateCheck/obj/Release/UpdateCheck.frmUpdateCheck.resources
/UpdateCheck/obj/Release/UpdateCheck.exe
/UpdateCheck/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
/UpdateCheck/obj/Debug/UpdateCheck.xml
/UpdateCheck/obj/Debug/UpdateCheck.vbproj.GenerateResource.Cache
/UpdateCheck/obj/Debug/UpdateCheck.Resources.resources
/UpdateCheck/obj/Debug/UpdateCheck.pdb
/UpdateCheck/obj/Debug/UpdateCheck.frmUpdateCheck.resources
/UpdateCheck/obj/Debug/UpdateCheck.exe
/UpdateCheck/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/UpdateCheck/bin/Release/UpdateCheck.xml
/UpdateCheck/bin/Release/UpdateCheck.pdb
/UpdateCheck/bin/Release/UpdateCheck.exe
/UpdateCheck/bin/Release/BASINS4beta04-28-standalone.exe
/UpdateCheck/bin/Debug/UpdateCheck.xml
/UpdateCheck/bin/Debug/UpdateCheck.vshost.exe
/UpdateCheck/bin/Debug/UpdateCheck.pdb
/UpdateCheck/bin/Debug/UpdateCheck.exe
/SwatObject/obj/x86/Debug/SwatObject15.vbprojResolveAssemblyReference.cache
/SwatObject/obj/x86/Debug/SwatObject15.vbproj.GenerateResource.Cache
/SwatObject/obj/x86/Debug/SwatObject15.vbproj.FileListAbsolute.txt
/SwatObject/obj/x86/Debug/SwatObject.xml
/SwatObject/obj/x86/Debug/SwatObject.Resources.resources
/SwatObject/obj/x86/Debug/SwatObject.pdb
/SwatObject/obj/x86/Debug/SwatObject.dll
/SwatObject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SwatObject/bin/SwatObject.xml
/SwatObject/bin/SwatObject.pdb
/SwatObject/bin/SwatObject.dll
/SwatObject/bin/MapWinUtility.xml
/SwatObject/bin/MapWinUtility.pdb
/SwatObject/bin/MapWinUtility.dll
/SwatObject/bin/Interop.ADOX.dll
/SwatObject/bin/adodb.dll
