################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebDownload/obj/x86/Debug/WebDownload15.csproj.FileListAbsolute.txt
/UpdateCheck/obj/UpdateCheck.vbproj.FileListAbsolute.txt
/UpdateCheck/obj/UpdateCheck.vbproj.FileList.txt
/SwatObject/obj/x86/Debug/SwatObject15.vbproj.FileListAbsolute.txt
/atcBasinsObsWQ/obj
/MapWinUtility/obj
/HSPEXP/obj
/SwatObject/obj/Debug
/DFLOW/obj/x86/Debug
/D4EMDownloadData/obj/Debug
/bin-D4EM10/x86Debug
/Bin/zh-CN
/Bin/vi-VN
/Bin/zh-CHS
/BASINS/obj/x86/Debug
/atcWdmVb/obj/Debug
/atcWDM/obj
/atcWCS/obj/Debug
/atcWASPPlugIn/obj/x86/Debug
/atcWASP/obj/x86/Debug
/atcUtility/obj/x86/Debug
/atcUtility/obj
/atcUSGSUtility/obj/x86/Debug
/atcUCIForms/obj/Debug
/atcTimeseriesStatistics/obj
/atcTimeseriesScript/obj
/atcTimeseriesRDB/obj/x86/Debug
/atcTimeseriesMath/obj/x86/Debug
/atcTimeseriesMath/obj/Debug
/atcTimeseriesGDS/obj/x86/Debug
/atcBatchProcessing/obj/x86/Debug
/atcCligen/obj/x86/Debug
/atcClimateAssessmentTool/obj/x86/Debug
/atcControls/obj
/atcData/obj/x86/Debug
/atcDataTree/obj/x86/Debug
/atcDurationCompare/obj
/atcData/obj/Debug
/atcCligenOutput/obj/x86/Debug
/atcGisUtilities/obj/x86/Debug
/atcFtableBuilderCS/obj/x86/Debug
/atcEvents/obj/x86/Debug
/atcGraphExperimental/obj
/atcHspfBinOut/obj
/atcHspfSupport/bin/x86/Debug
/atcHspfReadWrite/obj/x86/Debug
/atcHSPFParm/obj/x86/Debug
/atcHspfSupport/obj/x86/Debug
/atcHspfSupport/obj/Debug
/atcLandUse/obj/x86/Debug
/atcList/obj
/atcUCI/obj
/atcTimeseriesWRDB/obj/x86/Debug
/atcTimeseriesSWMMOutput/obj/x86/Debug
/atcTimeseriesSWAT/obj/x86/Debug
/atcTimeseriesSTORET/obj/Debug
/atcTimeseriesNdayHighLow/obj/x86/Debug
/atcTimeseriesFEQ/obj/x86/Debug
/atcTimeseriesDbf/obj/x86/Debug
/atcTimeseriesD4EM/obj/x86/Debug
/atcTimeseriesBinary/obj/x86/Debug
/atcTimeseriesBaseflow/obj/x86/Debug
/atcTableSQLite/obj/x64/Debug
/atcSynopticAnalysis/obj/x86/Debug
/atcSynopInput/obj/x86/Debug
/atcSWSTAT/obj/x86/Debug
/atcSWMMPlugIn/obj/x86/Debug
/atcSWMM/obj/x86/Debug
/atcSWATDBF/obj/x86/Debug
/atcStatusMonitor/obj/x86/Debug
/atcSegmentation/obj
/atcSediment/HTMLBuilder/obj/x86/Debug
/atcReport/obj
/atcReport/bin/x86/Debug
/atcProjector/obj/x86/Debug
/atcPollutantLoading/obj/x86/Debug
/atcSeasons/obj/x86/Debug
/atcSeasonalAttributes/obj/x86/Debug
/atcNOAAISH/obj/x86/Debug
/atcNOAAHPD/obj/x86/Debug
/atcNOAA/obj/x86/Debug
/atcMwGisUtility/obj/x86/Debug
/atcModelSetup/obj/x86/Debug
/atcModelSegmentation/obj/x86/Debug
/atcMetCmp/obj/x86/Debug
/atcManDelin/obj/x86/Debug
/atcLookup/obj/x86/Debug
/atcMetCmp/obj/Debug/atcMetCmp-D4EM10.vbproj.FileListAbsolute.txt
/Bin/ApplicationPlugins
/Bin/Cligen
/Bin/el
/Bin/de
/Bin/cs
/Bin/gdal_data
/Bin/fr
/Bin/fa
/Bin/es-ES
/Bin/en
/Bin/nl
/Bin/lt
/Bin/ja-JP
/Bin/it
/Bin/Plugins/BASINS
/Bin/Plugins
/Bin/Projections
/Bin/PROJ_NAD
/Bin/ro
/Bin/pt-BR
/Bin/pt
/Bin
/HSPEXP/CommittChangeson10052016
/atcFtableBuilderCS/obj/Debug
/atcHspfReadWrite/bin/x86/Debug
/atcTableSQLite/obj/x86/Debug/TempPE
/atcTableSQLite/obj/x86/Debug
/atcTimeseriesSTORET/obj/x86/Debug
/atcUCIForms/obj/x86/Debug
/atcWCS/obj/x86/Debug
/atcWdmVb/bin/x86/Debug
/atcWdmVb/obj/x86/Debug/TempPE
/atcWdmVb/obj/x86/Debug
/D4EMDownloadData/obj/x86/Debug/TempPE
/D4EMDownloadData/obj/x86/Debug
/local/x86Debug/Plugins/BASINS
/SwatObject/obj/x86/Debug/TempPE
/WebDownload/obj/x86/Debug
/WinHSPF/bin/Debug
/WinHSPF/logs
/WinHSPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WinHSPF/obj/x86/Debug
/atcD4EMLauncher/obj
*.bak
/Doc/HSPEXP/Out/HSPEXP+.rtf
/Doc/HSPEXP/Out/Introduction/respec_black.jpg
*.hhk
*.hhp
*.hhc
/HSPEXP/pest13/modules
/HSPEXP/pest13/papestex
/HSPEXP/pest13/pestex
/HSPEXP/pest13/ppestex
/HSPEXP/pest13/edpestex
/HSPEXP/pest13/doc
/HSPEXP/pest13
/HSPEXP/.vs/config
/atcUSGSBaseflow/obj/x86/Debug
/Doc/HSPEXP/Introduction/respec_black.jpg
/Doc/HSPEXP/log
/RunR/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/SWToolbox_15/v14
/Doc/HSPEXP/HSPEXP+1.11.pdf
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P15.vbproj.FileListAbsolute.txt
/atcMetCmp/obj/Debug
/atcData_DotSpatial/My Project/Resources.Designer.vb
/atcData_DotSpatial/My Project/Resources.resx
/atcData_DotSpatial/obj/Debug
/atcData_DotSpatial/obj/x86/Debug/TempPE
/atcData_DotSpatial/obj/x86/Debug
/atcTimeseriesGSSHA/obj/x86/Debug
/atcTimeseriesNCDC/obj/x86/Debug
/atcTimeseriesSUSTAIN/obj/x86/Debug
/TimeseriesUtility/obj/x86/Debug
/D4EM10/AnyDebug
/local/AnyDebug/Plugins/BASINS
/atcMwGisUtility/obj/Debug
/atcBatchProcessing/obj/Debug
/atcDataTree/obj/Debug
/atcEvents/obj/Debug
/atcGisUtilities/obj/Debug
/atcLandUse/obj/Debug
/atcNOAA/obj/Debug
/atcNOAAHPD/obj/Debug
/atcNOAAISH/obj/Debug
/atcProjector/obj/Debug
/atcSeasonalAttributes/obj/Debug
/atcSeasons/obj/Debug
/atcSediment/HTMLBuilder
/atcStatistics/obj/Debug
/atcSWATDBF/obj/Debug
/atcSWSTAT/obj/Debug
/atcSynopInput/obj/Debug
/atcSynopticAnalysis/obj/Debug
/atcTimeseriesBaseflow/obj/Debug
/atcTimeseriesD4EM/obj/Debug
/atcTimeseriesDbf/obj/Debug
/atcTimeseriesFEQ/obj/Debug
/atcTimeseriesNdayHighLow/obj/Debug
/atcTimeseriesRDB/obj/Debug
/atcTimeseriesWRDB/obj/Debug
/atcUSGSBaseflow/obj/Debug
/atcUSGSDF2P/obj/Debug
/atcUSGSRecess/obj/Debug
/atcUSGSRora/obj/Debug
/atcUSGSUtility/obj/Debug
/atcUSGSWTF/obj/Debug
atcBasinsObsWQ/atcBasinsObsWQ-D4EM10.vbproj
atcGraphFromJSON/obj/x86/Debug/atcGraphFromJSON15-4.0.vbproj.FileListAbsolute.txt
atcGraphFromJSON/obj/x86/Debug/atcGraphFromJSON15.vbproj.FileListAbsolute.txt
*.suo
*.cache
*.force
*.xml
*.FIL
*.exe
*.config
*.config
*.log
BASINS40_15_AM.sln
*.user
AssemblyInfo.vb
Application.Designer.vb
Resources.Designer.vb
Resources.resx
*.pdb
*.xml
*.dll
*.resources
*.manifest
*.chm
*.wdu