################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebDownload/obj/x86/Debug/WebDownload15.csproj.FileListAbsolute.txt
/WebDownload/obj/x86/Debug/WebDownload.pdb
/WebDownload/obj/x86/Debug/WebDownload.dll
/WebDownload/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebDownload/bin/x86/Debug/WebDownload.pdb
/WebDownload/bin/x86/Debug/WebDownload.dll
/UpdateCheck/obj/UpdateCheck.vbproj.FileListAbsolute.txt
/UpdateCheck/obj/UpdateCheck.vbproj.FileList.txt
/UpdateCheck/obj/Release/UpdateCheck.xml
/UpdateCheck/obj/Release/UpdateCheck.vbproj.GenerateResource.Cache
/UpdateCheck/obj/Release/UpdateCheck.Resources.resources
/UpdateCheck/obj/Release/UpdateCheck.pdb
/UpdateCheck/obj/Release/UpdateCheck.frmUpdateCheck.resources
/UpdateCheck/obj/Release/UpdateCheck.exe
/UpdateCheck/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
/UpdateCheck/obj/Debug/UpdateCheck.xml
/UpdateCheck/obj/Debug/UpdateCheck.vbproj.GenerateResource.Cache
/UpdateCheck/obj/Debug/UpdateCheck.Resources.resources
/UpdateCheck/obj/Debug/UpdateCheck.pdb
/UpdateCheck/obj/Debug/UpdateCheck.frmUpdateCheck.resources
/UpdateCheck/obj/Debug/UpdateCheck.exe
/UpdateCheck/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/UpdateCheck/bin/Release/UpdateCheck.xml
/UpdateCheck/bin/Release/UpdateCheck.pdb
/UpdateCheck/bin/Release/UpdateCheck.exe
/UpdateCheck/bin/Release/BASINS4beta04-28-standalone.exe
/UpdateCheck/bin/Debug/UpdateCheck.xml
/UpdateCheck/bin/Debug/UpdateCheck.vshost.exe
/UpdateCheck/bin/Debug/UpdateCheck.pdb
/UpdateCheck/bin/Debug/UpdateCheck.exe
/SwatObject/obj/x86/Debug/SwatObject15.vbprojResolveAssemblyReference.cache
/SwatObject/obj/x86/Debug/SwatObject15.vbproj.GenerateResource.Cache
/SwatObject/obj/x86/Debug/SwatObject15.vbproj.FileListAbsolute.txt
/SwatObject/obj/x86/Debug/SwatObject.xml
/SwatObject/obj/x86/Debug/SwatObject.Resources.resources
/SwatObject/obj/x86/Debug/SwatObject.pdb
/SwatObject/obj/x86/Debug/SwatObject.dll
/SwatObject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SwatObject/bin/SwatObject.xml
/SwatObject/bin/SwatObject.pdb
/SwatObject/bin/SwatObject.dll
/SwatObject/bin/MapWinUtility.xml
/SwatObject/bin/MapWinUtility.pdb
/SwatObject/bin/MapWinUtility.dll
/SwatObject/bin/Interop.ADOX.dll
/SwatObject/bin/adodb.dll
/atcBasinsObsWQ/obj
/MapWinUtility/obj
/HSPEXP/obj
/HSPEXP/HSPEXP+-D4EM10.vbproj.user
/SwatObject/obj/Debug
/DFLOW/obj/x86/Debug
/D4EMDownloadData/obj/Debug
/bin-D4EM10/x86Debug
/Bin/zh-CN
/Bin/vi-VN
/Bin/zh-CHS
/BASINS/obj/x86/Debug
/atcWdmVb/obj/Debug
/atcWDM/obj
/atcWCS/obj/Debug
/atcWASPPlugIn/obj/x86/Debug
/atcWASP/obj/x86/Debug
/atcUtility/obj/x86/Debug
/atcUtility/obj
/atcUSGSUtility/obj/x86/Debug
/atcUCIForms/obj/Debug
/atcTimeseriesStatistics/obj
/atcTimeseriesScript/obj
/atcTimeseriesRDB/obj/x86/Debug
/atcTimeseriesMath/obj/x86/Debug
/atcTimeseriesMath/obj/Debug
/atcTimeseriesGDS/obj/x86/Debug
/.vs/BASINS40_15/v14/.suo
/atcBatchProcessing/obj/x86/Debug
/atcCligen/obj/x86/Debug
/atcClimateAssessmentTool/obj/x86/Debug
/atcControls/obj
/atcData/obj/x86/Debug
/atcDataTree/obj/x86/Debug
/atcDurationCompare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/atcDurationCompare/obj
/atcData/obj/Debug
/atcCligenOutput/obj/x86/Debug
/atcGisUtilities/obj/x86/Debug
/atcFtableBuilderCS/obj/x86/Debug
/atcEvents/obj/x86/Debug
/atcGraphExperimental/obj
/atcHspfBinOut/obj
/atcHspfSupport/bin/x86/Debug
/atcHspfReadWrite/obj/x86/Debug
/atcHSPFParm/obj/x86/Debug
/atcHspfSupport/obj/x86/Debug
/atcHspfSupport/obj/Debug
/atcLandUse/obj/x86/Debug
/atcList/obj
/atcUCI/obj
/atcTimeseriesWRDB/obj/x86/Debug
/atcTimeseriesSWMMOutput/obj/x86/Debug
/atcTimeseriesSWAT/obj/x86/Debug
/atcTimeseriesSTORET/obj/Debug
/atcTimeseriesNdayHighLow/obj/x86/Debug
/atcTimeseriesFEQ/obj/x86/Debug
/atcTimeseriesDbf/obj/x86/Debug
/atcTimeseriesD4EM/obj/x86/Debug
/atcTimeseriesBinary/obj/x86/Debug
/atcTimeseriesBaseflow/obj/x86/Debug
/atcTableSQLite/obj/x64/Debug
/atcSynopticAnalysis/obj/x86/Debug
/atcSynopInput/obj/x86/Debug
/atcSWSTAT/obj/x86/Debug
/atcSWMMPlugIn/obj/x86/Debug
/atcSWMM/obj/x86/Debug
/atcSWATDBF/obj/x86/Debug
/atcStatusMonitor/obj/x86/Debug
/atcSegmentation/obj
/atcSediment/HTMLBuilder/obj/x86/Debug
/atcReport/obj
/atcReport/bin/x86/Debug
/atcProjector/obj/x86/Debug
/atcPollutantLoading/obj/x86/Debug
/atcSeasons/obj/x86/Debug
/atcSeasonalAttributes/obj/x86/Debug
/atcNOAAISH/obj/x86/Debug
/atcNOAAHPD/obj/x86/Debug
/atcNOAA/obj/x86/Debug
/atcMwGisUtility/obj/x86/Debug
/atcModelSetup/obj/x86/Debug
/atcModelSegmentation/obj/x86/Debug
/atcMetCmp/obj/x86/Debug
/atcManDelin/obj/x86/Debug
/atcLookup/obj/x86/Debug
/atcMetCmp/obj/Debug/atcMetCmp.frmCmpSol.resources
/atcMetCmp/obj/Debug/atcMetCmp.frmCmpPenman.resources
/atcMetCmp/obj/Debug/atcMetCmp.frmCmpJPET.resources
/atcMetCmp/obj/Debug/atcMetCmp.frmCmpHPET.resources
/atcMetCmp/obj/Debug/atcMetCmp.dll
/atcMetCmp/obj/Debug/atcMetCmp-D4EM10.vbprojResolveAssemblyReference.cache
/atcMetCmp/obj/Debug/atcMetCmp-D4EM10.vbproj.GenerateResource.Cache
/atcMetCmp/obj/Debug/atcMetCmp-D4EM10.vbproj.FileListAbsolute.txt
/atcMetCmp/obj/Debug/atcMetCmp.frmDisWind.resources
/atcMetCmp/obj/Debug/atcMetCmp.frmDisTemp.resources
/atcMetCmp/obj/Debug/atcMetCmp.frmDisSol.resources
/atcMetCmp/obj/Debug/atcMetCmp.frmDisPrec.resources
/atcMetCmp/obj/Debug/atcMetCmp.pdb
/atcMetCmp/obj/Debug/atcMetCmp.frmDisPrec.resources
/atcMetCmp/obj/Debug/atcMetCmp.pdb
/atcMetCmp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bin/ApplicationPlugins
/Bin/Cligen
/Bin/el
/Bin/de
/Bin/cs
/Bin/gdal_data
/Bin/fr
/Bin/fa
/Bin/es-ES
/Bin/en
/Bin/nl
/Bin/lt
/Bin/ja-JP
/Bin/it
/HSPEXP/.vs/HSPEXP+-D4EM10/v14/.suo
/HSPEXP/bin/x86/Debug/app.publish/HSPEXP+.exe
/HSPEXP/bin/x86/Debug/atcTimeseriesStatistics.dll
/HSPEXP/bin/x86/Debug/atcBasinsObsWQ.dll
/HSPEXP/bin/x86/Debug/atcBasinsObsWQ.pdb
/HSPEXP/bin/x86/Debug/atcBasinsObsWQ.xml
/HSPEXP/bin/x86/Debug/atcTimeseriesScript.dll
/HSPEXP/bin/x86/Debug/atcSegmentation.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/atcUtility.dll
/HSPEXP/bin/x86/Debug/atcUCI.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesStatistics.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesScript.dll
/HSPEXP/bin/x86/Debug/atcSegmentation.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/stdole.dll
/HSPEXP/bin/x86/Debug/atcUtility.dll
/HSPEXP/bin/x86/Debug/atcUCI.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesStatistics.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesScript.dll
/HSPEXP/bin/x86/Debug/atcSegmentation.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/atcUtility.dll
/HSPEXP/bin/x86/Debug/atcUCI.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesStatistics.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesScript.dll
/HSPEXP/bin/x86/Debug/atcSegmentation.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/atcUtility.dll
/HSPEXP/bin/x86/Debug/atcUCI.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesStatistics.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesScript.dll
/HSPEXP/bin/x86/Debug/atcSegmentation.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/atcUtility.dll
/HSPEXP/bin/x86/Debug/atcUCI.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesStatistics.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesScript.dll
/HSPEXP/bin/x86/Debug/atcSegmentation.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcHspfBinOut.dll
/Bin/Plugins/BASINS
/Bin/Plugins
/Bin/Projections
/Bin/PROJ_NAD
/Bin/ro
/Bin/pt-BR
/Bin/pt
/Bin
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/bin/x86/Debug/atcMetCmp.xml
/HSPEXP/CommittChangeson10052016
/HSPEXP/install.txt.bak
/atcFtableBuilderCS/obj/Debug
/atcHspfReadWrite/bin/x86/Debug
/atcTableSQLite/obj/x86/Debug/TempPE
/atcTableSQLite/obj/x86/Debug
/atcTimeseriesSTORET/obj/x86/Debug
/atcUCIForms/obj/x86/Debug
/atcWCS/obj/x86/Debug
/atcWdmVb/bin/x86/Debug
/atcWdmVb/obj/x86/Debug/TempPE
/atcWdmVb/obj/x86/Debug
/D4EMDownloadData/obj/x86/Debug/TempPE
/D4EMDownloadData/obj/x86/Debug
/local/x86Debug/Plugins/BASINS
/SwatObject/obj/x86/Debug/TempPE
/WebDownload/obj/x86/Debug
/WinHSPF/bin/Debug
/WinHSPF/logs
/WinHSPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WinHSPF/obj/x86/Debug
/atcD4EMLauncher/obj
/.vs/WinHSPF_15/v14/.suo
/atcMetCmp/obj/Debug/atcMetCmp.xml
/BASINS/BASINS15.vbproj.user
*.bak
/Doc/HSPEXP/Out/HSPEXP+.rtf
/Doc/HSPEXP/Out/Introduction/respec_black.jpg
*.hhk
*.hhp
*.hhc
/HSPEXP/pest13/modules
/HSPEXP/pest13/papestex
/HSPEXP/pest13/pestex
/HSPEXP/pest13/ppestex
/HSPEXP/pest13/edpestex
/HSPEXP/pest13/doc
/HSPEXP/pest13
/HSPEXP/bin/x86/Debug/atcEvents.dll
/HSPEXP/bin/x86/Debug/atcEvents.pdb
/HSPEXP/bin/x86/Debug/atcEvents.xml
/HSPEXP/bin/x86/Debug/atcSynopticAnalysis.dll
/HSPEXP/bin/x86/Debug/atcSynopticAnalysis.pdb
/HSPEXP/bin/x86/Debug/atcSynopticAnalysis.xml
/HSPEXP/.vs/config
/atcIntegratedDesignFlow/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/atcStatistics/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/atcUSGSBaseflow/obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
/atcUSGSBaseflow/obj/x86/Debug
/Doc/HSPEXP/Introduction/respec_black.jpg
/Doc/HSPEXP/log
/RunR/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/SWToolbox_15/v14
/Doc/HSPEXP/HSPEXP+1.11.pdf
/.vs/config/applicationhost.config
/HSPEXP/bin/x86/Debug/atcBatchProcessing.dll
/HSPEXP/bin/x86/Debug/atcBatchProcessing.pdb
/HSPEXP/bin/x86/Debug/atcBatchProcessing.xml
/HSPEXP/bin/x86/Debug/atcD4EMLauncher.dll
/HSPEXP/bin/x86/Debug/atcD4EMLauncher.pdb
/HSPEXP/bin/x86/Debug/atcD4EMLauncher.xml
/HSPEXP/bin/x86/Debug/atcTimeseriesBaseflow.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesBaseflow.pdb
/HSPEXP/bin/x86/Debug/atcTimeseriesBaseflow.xml
/HSPEXP/bin/x86/Debug/atcTimeseriesRDB.dll
/HSPEXP/bin/x86/Debug/atcTimeseriesRDB.pdb
/HSPEXP/bin/x86/Debug/atcTimeseriesRDB.xml
/HSPEXP/bin/x86/Debug/atcUSGSBaseflow.dll
/HSPEXP/bin/x86/Debug/atcProjector.dll
/HSPEXP/bin/x86/Debug/atcProjector.xml
/HSPEXP/bin/x86/Debug/atcProjector.pdb
/HSPEXP/bin/x86/Debug/atcUSGSUtility.xml
/HSPEXP/bin/x86/Debug/atcUSGSUtility.pdb
/HSPEXP/bin/x86/Debug/atcUSGSUtility.dll
/HSPEXP/bin/x86/Debug/atcUSGSBaseflow.xml
/HSPEXP/bin/x86/Debug/atcUSGSBaseflow.pdb
/HSPEXP/bin/x86/Debug/MapWinInterfaces.dll
/HSPEXP/bin/x86/Debug/Interop.MapWinGIS.xml
/HSPEXP/bin/x86/Debug/Interop.MapWinGIS.dll
/HSPEXP/bin/x86/Debug/GWToolbox.xml
/HSPEXP/bin/x86/Debug/GWToolbox.pdb
/HSPEXP/bin/x86/Debug/GWToolbox.dll
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P.dll
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P.frmDF2P.resources
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P.frmUSGSRecessOriginal.resources
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P.frmMRCControl.resources
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P.pdb
/atcUSGSDF2P/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P15.vbprojResolveAssemblyReference.cache
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P15.vbproj.GenerateResource.Cache
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P15.vbproj.FileListAbsolute.txt
/atcUSGSDF2P/obj/x86/Debug/atcUSGSDF2P.Resources.resources
/atcMetCmp/obj/Debug
*.suo
/atcData_DotSpatial/My Project/Resources.Designer.vb
/atcData_DotSpatial/My Project/Resources.resx
/atcData_DotSpatial/obj/Debug
/atcData_DotSpatial/obj/x86/Debug/TempPE
/atcData_DotSpatial/obj/x86/Debug
/atcTimeseriesGSSHA/obj/x86/Debug
/atcTimeseriesNCDC/obj/x86/Debug
/atcTimeseriesSUSTAIN/obj/x86/Debug
/TimeseriesUtility/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TimeseriesUtility/obj/x86/Debug
/D4EM10/AnyDebug
/HSPEXP/bin/x86/Debug/atcUSGSDF2P.xml
/HSPEXP/bin/x86/Debug/atcUSGSDF2P.pdb
/HSPEXP/bin/x86/Debug/atcUSGSDF2P.dll
/local/AnyDebug/Plugins/BASINS
/atcMwGisUtility/obj/Debug
/HSPEXP/HSPEXP+15.vbproj.user
/HSPEXP/bin/Debug/app.publish/HSPEXP+.exe
/HSPEXP/bin/Debug/atcBasinsObsWQ.pdb
/HSPEXP/bin/Debug/atcBasinsObsWQ.dll
/HSPEXP/bin/Debug/stdole.dll
/HSPEXP/bin/Debug/MapWinGeoProc.dll
/HSPEXP/bin/Debug/MapWindow.Interfaces.dll
/HSPEXP/bin/Debug/HSPEXP+.chm
/HSPEXP/bin/Debug/AxInterop.MapWinGIS.xml
/HSPEXP/bin/Debug/AxInterop.MapWinGIS.dll
/HSPEXP/bin/Debug/atcList.xml
/HSPEXP/bin/Debug/atcList.pdb
/HSPEXP/bin/Debug/atcList.dll
/HSPEXP/bin/Debug/atcHspfSupport.xml
/HSPEXP/bin/x86/Debug/MapWinGeoProc.dll
/HSPEXP/bin/x86/Debug/MapWindow.Interfaces.dll
/HSPEXP/bin/x86/Debug/AxInterop.MapWinGIS.xml
/HSPEXP/bin/x86/Debug/AxInterop.MapWinGIS.dll
/atcBatchProcessing/obj/Debug
/atcDataTree/obj/Debug
/atcEvents/obj/Debug
/atcGisUtilities/obj/Debug
/atcLandUse/obj/Debug
/atcNOAA/obj/Debug
/atcNOAAHPD/obj/Debug/atcNOAAHPD.dll
/atcNOAAHPD/obj/Debug
/atcNOAAISH/obj/Debug
/atcProjector/obj/Debug
/atcSeasonalAttributes/obj/Debug
/atcSeasons/obj/Debug
/atcSediment/HTMLBuilder
/atcStatistics/obj/Debug
/atcSWATDBF/obj/Debug
/atcSWSTAT/obj/Debug
/atcSynopInput/obj/Debug
/atcSynopticAnalysis/obj/Debug
/atcTimeseriesBaseflow/obj/Debug
/atcTimeseriesD4EM/obj/Debug
/atcTimeseriesDbf/obj/Debug
/atcTimeseriesFEQ/obj/Debug
/atcTimeseriesNdayHighLow/obj/Debug
/atcTimeseriesRDB/obj/Debug
/atcTimeseriesWRDB/obj/Debug
/atcUSGSBaseflow/obj/Debug
/atcUSGSDF2P/obj/Debug
/atcUSGSRecess/obj/Debug
/atcUSGSRora/obj/Debug
/atcUSGSUtility/obj/Debug
/atcUSGSWTF/obj/Debug
/BASINS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HSPEXP/HSPEXP+-D4EM10_common.vbproj.user
/WinHSPF/WinHSPF15.vbproj.user
HSPEXP/bin/x86/Debug/atcBasinsObsWQ.dll
*.pdb
atcBasinsObsWQ/atcBasinsObsWQ-D4EM10.vbproj
atcGraphFromJSON/obj/x86/Debug/atcGraphFromJSON.xml
atcGraphFromJSON/obj/x86/Debug/atcGraphFromJSON15-4.0.vbproj.FileListAbsolute.txt
*.cache
atcGraphFromJSON/obj/x86/Debug/atcGraphFromJSON15.vbproj.FileListAbsolute.txt
*.force
HSPEXP/Output/HSPEXP+1.32SetUp.exe
